language: node_js

node_js:
  - "stable"

script:
  - npm run lint
  - npm run test-coverage
  - npm run build

after_script:
  - npm run upload-coverage

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master